.formLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.formInput {
  background: none;
  border: none;
  border-bottom: 0.2rem solid var(--primary);
  width: 25rem;
  text-align: center;
  padding: 1rem;
  color: var(--text-default);
}
