.homeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formHelper {
  margin-top: 3rem;
}

.startButton {
  margin-top: 5rem;
  width: 25rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
}

.startButton:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all 0.1s ease-in-out;
}
