.logo {
  margin: 6rem 0;
}

.logoButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  color: var(--primary);
  font-size: 4rem;
  font-weight: 700;
}
