.logo {
  margin-top: 6.4rem;
}

.logoButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  color: var(--primary);
  font-size: 4.2rem;
  font-weight: 700;
}

.logoButton:hover {
  filter: brightness(80%);
  transition: all 0.1s ease-in-out;
}
