.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--text-over-primary);
  padding: 1.3rem;

  border-radius: 1rem;
}

.menuLink:hover {
  filter: brightness(80%);
  transition: all 0.1s ease-in-out;
}
