.formCycles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.cycles {
  display: flex;
  margin-top: 2rem;
  gap: 0.8rem;
}

.cycle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
