.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.footer a {
  font-size: 1.2rem;
  color: var(--text-muted);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
}
